/* Стили для страницы каталога */
.card-img-top {
	width: 100%; /* Гарантирует, что изображение карты будет полностью заполнять верхнюю часть карты */
	height: 200px; /* Фиксированная высота для всех изображений */
	object-fit: contain; /* Обрезка изображений, чтобы они хорошо вписывались */
}

.card-title {
	font-size: 1.2rem; /* Увеличенный размер шрифта для названия товара */
	font-weight: bold; /* Жирное начертание для названия */
}

.card-text {
	font-size: 1rem; /* Размер шрифта для описания товара */
	color: #666; /* Цвет текста для описания */
}

.card-footer {
	background: rgba(0, 0, 0, 0.03); /* Слегка оттененный фон для подвала карты */
}
