.title {
    color: #343a40; /* Темно-серый цвет для заголовков */
    font-weight: 700; /* Жирный шрифт для заголовка */
}
.text {
    color: #343a40; /* Темно-серый цвет для заголовков */
}
.hover-button {
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход фона */
}

.hover-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Слегка темнее при наведении */
}
.brighter-text {
    filter: brightness(120%); /* Делает цвета на 20% ярче */
}

.left-main-content{

}

.right-main-content{

}

@media (max-width: 575.98px) {
    /* Здесь ваши стили для экранов xs и меньше */
    .example-class {
        background-color: blue;
        font-size: 14px;
    }
}
