/*.shopping-cart {*/
/*    background-color: #f8f9fa; !* Светлый фон для контейнера корзины *!*/
/*    padding: 20px;*/
/*    border-radius: 8px; !* Скругленные углы для корзины *!*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Тень для добавления глубины *!*/
/*}*/

/*h2 {*/
/*    color: #343a40; !* Темно-серый цвет для заголовка *!*/
/*    font-weight: bold;*/
/*}*/

/*p {*/
/*    font-size: 1.2rem; !* Увеличенный размер шрифта для текста *!*/
/*    color: #6c757d; !* Серый цвет текста *!*/
/*}*/
.card {
    border: none; /* Удаление стандартной рамки */
    border-radius: 10px; /* Скругление углов карточки */
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* Добавление тени для карточек */
}

.card-body {
    display: flex;
    justify-content: space-between; /* Равномерное распределение содержимого карточки */
    align-items: center;
}

.card-title {
    margin-bottom: 0.5rem; /* Меньше пространства под заголовком */
}

.card-text {
    flex-grow: 1; /* Позволяет тексту занимать доступное пространство */
}

.button {
    margin-left: 10px; /* Отступ для кнопки, чтобы не прилипала к тексту */
}